body {
	background-color: #777;
}

.mf-gym { 
	width: 100%; 
	height: auto;
	padding-bottom: 25px;
}

.mf-logo { 
	width: 60%; 
	padding: 25px 0 25px 0;
}

address { 
	font-size: 2em;
	padding-bottom: 50px;
}

.google-map {
	padding: 25px 0 25px 0;
}

section {
	height: 100vh;
	overflow: hidden;
}

.center-v {
  /*position: relative;
  top: 50%;
  transform: translateY(-50%);*/
}

#news, #photos {
	background-color: #CCC;
}

.links {
	margin: 5px 0 20px 0;
	text-align: center;	
}

a.link {
	margin: 10px 35px;
	font-size: 1.5em;
}

a.instagram { color: black; }

td {
	color: red;
}

.container { 
	position: relative; 
	height: 100vh;
}

.top-btn {
  position: absolute;
  bottom: 25px;
  left: 0;
  font-size: 1.25em;
}

.dark-text { color: black; }
.light-text { color: lightgrey; }